<!DOCTYPE html>
<html>
  <head>
    <title>Photogram Industrial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render partial: "shared/cdn_assets" %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
<<<<<<< HEAD
    <%= yield %>
=======
    <div class="container">
      <%= yield %>
    </div>
>>>>>>> 821e25e (create _cnd_assets and _navbar partials and render them in application layout)
  </body>
</html>
